<div class="container">

  <div class="row">
    <div class="my_card d-flex justify-content-between col-12">
      <div class="card-img-info col-6">
        <%= cl_image_tag @pool.photo.key, height: 300, crop: :fill %>
          <h2><%= @pool.title %></h2>
            <p><%= @pool.address %></p>
            <p><%= @pool.size %></p>
            <p><%= @pool.description %></p>
          <%= link_to "Back to list", pools_path, class: "btn btn-primary" %>
      </div>
      <div class="card-map-calendar col-6">
        <div id="map"style="width: 100%; height: 400px;"data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <div class="form-wrapper">Date
          <%= simple_form_for :search, method: "get" do |f| %>
            <div class="calendar-form d-flex">
              <%= f.input :date, as: :string, required: false, label: false, input_html: {class: "datepicker"}, style: "width: 100%" %>
              <%= f.button :submit, "Book this pool", class: "btn btn-primary form-control", style: "width: 50%"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
