<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to pools_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <%= "Rent & Splash" %>
  <% end %>

    <%= form_tag pools_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control mr-3",
    placeholder: "Search for a pool" %>
    <%= submit_tag "Dive in", class: "btn btn-flat fas fa-water" %>
  <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to my_pools_path, class: "nav-link" do %>
            My Pools
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "avatar.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <p class="dropdown-item"> Olá, <b> <%= current_user.first_name %></b>! </p>
            <%= link_to "My bookings", "#", class: "dropdown-item" %>
            <%= link_to my_pools_path, class: "dropdown-item" do %>
              My Pools
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
