<div class="container" style="display: flex; justify-content: space-around;">

  <div class="bookings-container" style="padding: 0 1em; min-height: 50vh;">
    <h1 class="intro" style="padding: 0.5em; margin-bottom: 0; ">My bookings</h1>
    <% @bookings.each do |booking| %>
      <div class="card-booking">
        <%= cl_image_tag booking.pool.photo.key, height: 500, crop: :fill %>
        <div class="card-booking-infos">
          <div>
            <h2><%= booking.pool.title %></h2>
            <p> <%= booking.pool.address %> </p>
          </div>
          <div style="padding: 1px;">
            <p> <%= link_to "Remove", booking_path(booking), method: :delete, data: { confirm: "Are you sure?"} %> </p>
            <h2 class="card-booking-date"><%= booking.date %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="map" style="width: 600px; min-height: 50vh; border-radius: 8px;" data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
