<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('background_pool.jpg') %>)">
  <div class="container">
    <h1>Pick a <strong>pool</strong> and get cool!</h1>
    <p>Just add some <span id="banner-typed-text"></span> floater.</p>
    <%= link_to pools_path, class: "btn btn-flat" do %>
      <i class="fas fa-water"></i> Rent Now
    <% end %>
  </div>
</div>

<div class="intro">
  <h2>Easy, convenient and fast</h2>
  <div class="cards-grid" display>
    <div class="card-trip">
      <%= image_tag 'pool_easy.jpg' %>
      <div class="card-trip-infos">
        <div>
          <h3>Easy</h3>
          <p>With just a few clicks you can book a pool, or if you own one you'll be able to rent it.</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <%= image_tag 'pool_convenient.jpg' %>
      <div class="card-trip-infos">
        <div>
          <h3>Convenient</h3>
          <p>In the app you'll find everything you need to book your <em>poolscapade</em> whenever and wherever you want.</p>
        </div>
      </div>
    </div>

    <div class="card-trip">
      <%= image_tag 'pool_fast.jpg' %>
      <div class="card-trip-infos">
        <div>
          <h3>Fast</h3>
          <p>Pick a location, a pool and a date and book! It's that fast. Just don't forget the floater.</p>
        </div>
      </div>
    </div>

  </div>
</div>
